.flex-wrapper {
    display: flex;
    height: 40vh;
    min-height: 400px;
    width:100%;
    overflow-x: hidden;
}
.bigmap {
    padding:20px;
}
.galleryhead {
    margin-top:300px;
    text-align:center;
    background-color:#fff;
    padding:40px;
}
.galleryhead h2 {
    color:#355678;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
}
.galleryhead p {
    font-size: 1.3rem;
    margin-top:25px;
    font-weight:100;
    color:black;
}
hr {
    margin-top:0px;
    margin-bottom:25px;
}
.flex-wrapper a {
    position: relative;
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-size: cover;
    background: no-repeat center;
    transition: flex .4s;
}
.flex-wrapper a:hover {
    flex: 3;
}
.flex-wrapper .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 50px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow:hidden;
    transition: background-color .4s;
}
.flex-wrapper h2{
    font-size: 7rem;
    margin:0;
    text-transform: uppercase;
    font-weight:bold;
    line-height:1;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
    transform: matrix3D(0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,1);    
    transition: font-size .4s .1s ease;
}
.flex-wrapper .visible p{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0.5em 0;
    letter-spacing:0.1em;
    color:white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.flex-wrapper .animated{
    position: absolute;
    left:0;
    text-align: center;
    width:100%;
    opacity: 0;
    transform: translate3d(0, 60px, 0);
    transition: all .4s ease;
}
.flex-wrapper .animated p{
    max-width: 300px;
    margin: auto;
    color:white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.flex-wrapper a:hover .animated{
    opacity:1;
    transform: none;
}
.photomain h2 {
    color:black;
    text-align:center;
    margin:50px;
}

/* MAKE NOT HOVER ELEMENTS DARKEN */
.flex-wrapper .overlay{
    position: absolute;
    top:0; bottom: 0;
    left:0; right:0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    opacity: 0;
    transition: opacity .4s ease;
}
.flex-wrapper:hover a:not(:hover) .overlay{
    opacity: 1;
}
/* MAKE TITLE BIGGER ON HOVER*/
.flex-wrapper a:hover h2{
  font-size:4rem;
}

.flex-wrapper .one {
    background-image: url(../images/9.jpg);
    background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .two {
    background-image: url(../images/2.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .three {
    background-image: url(../images/3.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .four {
    background-image: url(../images/4.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .five {
    background-image: url(../images/5.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .six{
    background-image: url(../images/6.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .seven {
    background-image: url(../images/7.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .eight {
    background-image: url(../images/8.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .nine {
    background-image: url(../images/9.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .ten {
    background-image: url(../images/10.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .eleven {
    background-image: url(../images/11.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .twelve {
    background-image: url(../images/1.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .thirteen {
    background-image: url(../images/5.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .fourteen {
    background-image: url(../images/3.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .fifteen {
    background-image: url(../images/4.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .sixteen {
    background-image: url(../images/5.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .seventeen {
    background-image: url(../images/6.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .eighteen {
    background-image: url(../images/7.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .nineteen {
    background-image: url(../images/8.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .twenty {
    background-image: url(../images/9.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .twentyone {
    background-image: url(../images/10.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .twentytwo {
    background-image: url(../images/11.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .twentythree {
    background-image: url(../images/1.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .twentyfour {
    background-image: url(../images/2.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.flex-wrapper .twentyfive {
    background-image: url(../images/3.jpg);
        background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
/* RESPONSIVE */
@media(max-width: 1199px){
    .flex-wrapper h2{
        font-size: 5rem;
    }    
    .flex-wrapper a:hover h2{
        font-size:5.2rem;
    }
    .flex-wrapper .visible p{
        display:none;
    }
    .flex-wrapper .animated p{
        font-size:1.5rem;
    }
}

@media(max-width: 992px){
    .flex-wrapper {
        flex-direction: column;
    }
    .flex-wrapper .inner{
        padding:0 10px;
    }
    .flex-wrapper a:hover{
        flex:1;
    }
    .flex-wrapper a:hover h2{
        font-size:5.3rem;
    }
    .flex-wrapper .animated{
        display: none;
    }
    .flex-wrapper .visible p{
    display:none;
    }
    .flex-wrapper .overlay{
    display:none;
    }
    .flex-wrapper {
    height: 90vh;
    min-height: 400px;
    width:100%;
    overflow-x: hidden;
    }
    .galleryhead h2 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    }
    .galleryhead p {
    font-size: 1.2rem;
    }
    .galleryhead {
    margin-top:250px;
    } 
}